<div class="reader-container" [ngClass]="{'nav-open' : navOpen}">
  <div id="titlebar">
    <div id="metainfo">
      <span id="book-title">{{ bookTitle + (chapterTitle === bookTitle ? '' : ' - ' + chapterTitle) }}</span>
      <span id="title-seperator">&nbsp;&nbsp;–&nbsp;&nbsp;</span>
      <span id="chapter-title"></span>
    </div>
  </div>
  <div class="sidebar-nav" (click)="toggleNav()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="sidenav">
    <a class="toc-link" href="javascript:void(0)" *ngFor="let chapter of chapters" (click)="displayChapter(chapter)">{{ chapter.label }}</a>
  </div>
  <div id="divider"></div>
  <div id="prev" class="arrow" (click)="showPrev()">‹</div>
  <div id="viewer"></div>
  <div id="next" class="arrow" (click)="showNext()">›</div>
</div>

<ng-template #expiredModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Time's Up</h4>
  </div>
  <div class="modal-body">
    <h3 class="lead">If you wish you continue reading this book, please subscribe.</h3>
  </div>
  <div class="modal-footer">
    <button type="button" class="pull-right btn btn-ebook" aria-label="Close" (click)="onSubscribeClick()">Subscribe</button>
  </div>
</ng-template>
