<div id="main" [ngClass]="{'nav-open' : navOpen}">
  <div id="titlebar">
    <div id="metainfo">
      <span id="book-title">{{ getTitle() }}</span>
      <span id="title-seperator">&nbsp;&nbsp;–&nbsp;&nbsp;</span>
      <span id="chapter-title"></span>
    </div>
  </div>
  <div class="sidebar-nav" (click)="toggleNav()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="sidenav">
    <div *ngFor="let chapter of chapters">
      <a class="toc-link" href="javascript:void(0)" (click)="displayChapter(chapter)">{{ chapter.label }}</a>
    </div>
  </div>
  <div id="divider"></div>
  <div id="prev" class="arrow" (click)="showPrev()">‹</div>
  <div id="viewer"></div>
  <div id="next" class="arrow" (click)="showNext()">›</div>
</div>


