@font-face {
    font-family: 'fontello';
    src: url('../assets/font/fontello.eot?60518104');
    src: url('../assets/font/fontello.eot?60518104#iefix') format('embedded-opentype'),
    url('../assets/font/fontello.woff?60518104') format('woff'),
    url('../assets/font/fontello.ttf?60518104') format('truetype'),
    url('../assets/font/fontello.svg?60518104#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    background: #4e4e4e;
    overflow: hidden;
  }
  
  #main {
    /* height: 500px; */
    position: absolute;
    width: 100%;
    height: calc(100% - 56px);
    top: 56px;
    right: 0;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    -webkit-transition: -webkit-transform .4s, width .2s;
    -moz-transition: -webkit-transform .4s, width .2s;
    -ms-transition: -webkit-transform .4s, width .2s;
  
    -moz-box-shadow: inset 0 0 50px rgba(0,0,0,.1);
    -webkit-box-shadow: inset 0 0 50px rgba(0,0,0,.1);
    -ms-box-shadow: inset 0 0 50px rgba(0,0,0,.1);
    box-shadow: inset 0 0 50px rgba(0,0,0,.1);
  }

.container {
    margin-top: 56px;
    height: calc(100vh - 56px);
}

.navbar-pq .navbar-brand {
    color: #FFF;
    margin-left: 50px;
}

.bg-pq {
    background-color: #118289;
}
